.header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #222831;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.audioPlayerContainer {
  display: flex;
  justify-content: center;
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #f7f0e6;
  }
  50% {
    background-color: #0cafff;
    transform: scale(1.3)
  }
  100% {
    background-color: #f7f0e6;
  }
}

.audioButton {
  background: 'none';
  border: 'none';
  cursor: 'pointer';
  font-size: 20px;
  background-color: #f7f0e6;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  animation: changeBackgroundColor 1s ease-in-out 3;
}

.audioButton:hover {
  background-color: #0cafff;
}

@media (max-width: 900px) {
  .audioButton {
    font-size: 11px;
  }
  .audioButton:hover {
    background-color: #f7f0e6;
  }
}