.audioButton {
  background: 'none';
  border: 'none';
  cursor: 'pointer';
  font-size: 20px;
  background-color: #f7f0e6;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.audioButton:hover {
  background-color: #222831;
}

@media (max-width: 900px) {
  .audioButton {
    background-color: #222831;
  }
}