.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Courier New', monospace;
  background-color: #f7f0e6;
}

.mainContent {
  margin: 60px auto 0 auto;
  min-height: 100vh;
  color: #f7f0e6;
  display: flex;
  width: 100%;
  justify-content: center;
}

a {
  color: #f7f0e6;
  text-decoration: none;
}

a:hover {
  color: #0cafff;
}
