html {
  font-size: 20px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Courier New', monospace;
  background-color: #f7f0e6;
}

.mainContent {
  margin: 60px auto 0 auto;
  min-height: 100vh;
  color: #f7f0e6;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

a {
  color: #f7f0e6;
  text-decoration: none;
}

a:hover {
  color: #0cafff;
}

.divider {
  width: 50px;
  height: 2px;
  background-color: #333;
  margin: 8px auto;
}

.no-scroll {
  overflow: hidden;
}

.icon-overlay {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  z-index: 10;
}

.error {
  color: red;
}

.__react-hot-toast {
  z-index: 9999;
}

.loadingText {
  text-align: center;
  color: black;
}

@media (max-width: 900px) {
  html {
    font-size: 16px;
  }

  .icon-overlay {
    width: 15px;
    height: 15px;
  }
}
