.about {
  display: flex;
  height: 100%;
  width: 80%;
  flex-direction: row;
  align-items: center;
}

.aboutPhoto {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex: 1;
}

.aboutPhoto img {
  height: 100%;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.aboutInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 20px;
  color: black;
  line-height: 1.6;
}

.aboutInfo h1 {
  margin-bottom: 0;
  text-align: center;
}

.aboutInfo a {
  color: black;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(125px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.aboutInfo li {
  list-style-type: circle;
  transition: color 3s ease;
  opacity: 0;
  animation: fadeInLeft 3s ease forwards;
}

.aboutInfo ul li:nth-child(1) {
  animation-delay: 0s;
}

.aboutInfo ul li:nth-child(2) {
  animation-delay: 1s;
}

.aboutInfo ul li:nth-child(3) {
  animation-delay: 2s;
}

.aboutInfo ul li:nth-child(4) {
  animation-delay: 3s;
}

.aboutInfo ul li:nth-child(5) {
  animation-delay: 4s;
}

.aboutInfo ul li:nth-child(6) {
  animation-delay: 5s;
}

.aboutInfo ul li:nth-child(7) {
  animation-delay: 6s;
}

.aboutInfo ul li:nth-child(8) {
  animation-delay: 25s;
}

.aboutInfoMysteryLink {
  color: #0cafff;
}

.aboutInfoMysteryLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 900px) {
  .about {
    width: 100%;
    flex-direction: column;
  }

  .aboutInfo {
    padding: 20px;
    align-items: center;
    order: 1;
  }

  .aboutPhoto {
    padding: 20px;
    order: 2;
  }
}
