.contact {
  display: flex;
  width: 80%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.contactResourceContainer {
  display: flex;
  flex-direction: row;
}

.contactResource {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 30px;
  flex-direction: column;
}

.contactResource a {
  color: black;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes fade-caret {
  0% { border-color: black; }
  100% { border-color: transparent; }
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap; 
  letter-spacing: .15em; 
  animation: typing 3.5s steps(30, end), fade-caret 3.5s forwards;;
}

@media (max-width: 900px) {
  .contactResourceContainer {
    flex-direction: column;
  }
}